h1 {
    margin: 0;
}

.post {
    display: flex;
    justify-content: center;

    padding-top: 10px;
    margin-bottom: 10px;
}

.postContent {
    border: 2px solid white;
    padding: 5px;

    cursor: default;
}

.postBtns {
    display: flex;
    align-items: center;

    padding-left: 30px;
}

.postBtns button {
    height: 100%;

    cursor: pointer;
}