.containerForm {
    display: flex;
    width: 100%;
    justify-content: center;

    padding-top: 30px;
    margin-bottom: 30px;
}

.containerInputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.myInput {
    width: clamp(100px, 100%, 650px);
    height: 40px;

    font-size: 16px;

    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

